*{
margin:  0;
padding: 0;
font-family: sans-serif;
}
.banner{

background-color:#2f4f4f;
width: 100%;
height: 20vh;
background-size: contain;
background-position: center;
background-attachment: fixed;
}
.navbar{
width:  85%;
margin: auto;
padding: 35px 0;
display: flex;
align-items: center;
justify-content: space-between;
}

.logo{
width: 90px;
height: 80px;
padding left: 50px;
cursor: pointer;
}

.center{
display: flex;
color: #ffffff;
  justify-content: center;
  align-items: center;
  height: 10px;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 15.33%;
  padding: 90px;
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 50px;
  border-radius: 50px
  
}
.column1 {
  float: left;
  width: 15.33%;
  padding: 40px;
  padding-top: 40px;
  padding-left: 290px;
  padding-right: 50px;
  border-radius: 50%;
}
.column2{
  float: left;
  width: 15.33%;
  padding: 90px;
  padding-top: 40px;
  padding-left: 390px;
  padding-right: 30px;
  border-radius: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;

}
.column3 {
  float: left;
  width: 15.33%;
  padding: 90px;
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 50px;
  border-radius: 50px
  
}
.column4 {
  float: left;
  width: 15.33%;
  padding: 40px;
  padding-top: 40px;
  padding-left: 290px;
  padding-right: 50px;
  border-radius: 50%;
}
.column5{
  float: left;
  width: 15.33%;
  padding: 90px;
  padding-top: 40px;
  padding-left: 390px;
  padding-right: 30px;
  border-radius: 15px;
}

.row1::after {
  content: "";
  clear: both;
  display: table;

}
.txt{
  left: 1200px;
}
