<!DOCTYPE html>
<html lang="en">

<head>
    <title> PLANT DISEASE DETECTOR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/few_disease.css') }}">
    <style>
        img.dis1 {
            border-radius: 50%;
        }
        
        img.dis2 {
            border-radius: 50%;
        }
        
        img.dis3 {
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <a href="/" class="nav-brand">
                <img src="{{url_for('static',filename='img/core-img/logo.png')}}" alt="">
            </a>
            <p style="color: #ffffff;font-size:26px;font-family:courier ;width: 100px;" class="center">
                <center>
                    <b>Want to know what type of disease your plant affected with,then Upload a images of plants and get to know the disease it posses and the remedies and pratical video explanation to prevent further loss of plants.</b>
                </center>
            </p>
        </div>
    </div>
    <h1 id="Few Diseases" style="color:navy;font-family: Verdana ;line-height: 2.5;">
        <strong>
                <center>Few Diseases</center>
            </strong>
    </h1>
    </div>
    <div class="row">
        <div class="column">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsVcekw8TyIrVS5tBdlCOT8ICjLGYWIl_uYg&usqp=CAU" width="270" height="250" class="dis1">
            <p style="color:black;font-size:15px;font-family: cursive;width: 350px;">
                <b>Tomato mosaic virus</b> symptoms can be found at any stage of growth and all parts of the plant may be infected. They are often seen as a general mottling or mosaic appearance on foliage. When the plant is severely affected, leaves
                may look akin to ferns with raised dark green regions. Leaves may also become stunted.
            </p>
        </div>
        <div class="column1">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNr3_QI1MtEagyjUdICG64ay9LUuhSWb0WxA&usqp=CAU" width="270" height="250" class="dis2">
            <p style="color:black;font-size:15px;font-family: cursive;width: 350px;">
                <b>Early blight (EB)</b> is a disease of potato caused by the fungus Alternaria solani. It is found wherever potatoes are grown. The disease primarily affects leaves and stems, but under favorable weather conditions, and if left uncontrolled,
                can result in considerable defoliation and enhance the chance for tuber infection.
            </p>
        </div>
        <div class="column2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRe3DcgFpWrTGEzBU3VoMjwFEviL70zsGcgew&usqp=CAU" width="270" height="250" class="dis3">
            <p style="color:black;font-size:15px;font-family: cursive;width: 350px">
                <b>Bacterial leaf spot</b> caused by Xanthomonas campestris pv. vesicatoria, is the most common and destructive disease for peppers in the eastern United States. It is a gram-negative, rod-shaped bacterium that can survive in seeds and
                plant debris from one season to another.
            </p>
        </div>
    </div>
    <div class="row1">
        <div class="column3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbp4IagWWqrQou91FBf-nA69Rgbz84KKsBFQ&usqp=CAU" width="270" height="250" class="dis1">
            <p style="color:black;font-size:15px;font-family: cursive;width: 350px;">
                <b>Tomato healthy leaf</b>
            </p>
        </div>
        <div class="column4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiDPckZG_G2fAh3d_Tjum6vn3iD1qrlwEN-g&usqp=CAU" width="270" height="250" class="dis2">
            <p style="color:black;font-size:15px;font-family: cursive;width: 350px;">
                <b>Potato healthy leaf</b>
            </p>
        </div>
        <div class="column5">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROqBVwaNWnpziFph8DZ8MSAaouLtdop_qE6g&usqp=CAU" width="270" height="250" class="dis3">
            <h3 class="txt">
                <p style="color:black;font-size:15px;font-family: cursive;width: 350px">
                    <b>Pepper healthy leaf</b>
                </p>
            </h3>
        </div>
    </div>
</body>

</html>