{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content %}
<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
    <div class="hero-post-slides owl-carousel">
        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url('https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');"></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="hero-slides-content text-center">
                            <h2>Plantila - Your Crop Protector</h2>
                            <p>Identify the Disease of your Plant and Treat them with Ease</p>
                            <div class="welcome-btn-group">
                                {% if user.is_authenticated %}
                                <a href="/predict" class="btn plantila-btn active">PREDICT DISEASE</a> {% else %}
                                <a href="/login" class="btn plantila-btn active">GET STARTED</a> {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url('https://images.pexels.com/photos/1423601/pexels-photo-1423601.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');"></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="hero-slides-content text-center">
                            <h2>Diagnose & Treat Your Plant</h2>
                            <p>Plantila diagnoses infected crop and gives you the Correct Result</p>
                            <div class="welcome-btn-group">
                                {% if user.is_authenticated %}
                                <a href="/predict" class="btn plantila-btn active">PREDICT DISEASE</a> {% else %}
                                <a href="/login" class="btn plantila-btn active">GET STARTED</a> {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Hero Area End ##### -->
{% endblock %}