*{
margin:  0;
padding: 0;
font-family: sans-serif;
}
.banner{

background-color:#2f4f4f;
width: 100%;
height: 40vh;
background-size: contain;
background-position: center;
background-attachment: fixed;

}
.navbar{
width:  85%;
margin: auto;
padding: 35px 0;
display: flex;
align-items: center;
justify-content: space-between;
}
.logo{
width: 120px;
cursor: pointer;
}
.navbar ul li{
list-style: none;
display: inline-block;
margin: 0 20px;
position: relative;
}
.navbar ul li a{
text-decoration: none;
color: black;
text text-transform: uppercase;
background-color: #AFEEEE;
padding: 5px;
}
.center{
display: flex;
color: #ffffff;
  justify-content: center;
  align-items: center;
  height: 80px;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 35.33%;
  padding: 20px;
  padding-top: 10px;
  padding-left: 120px;
  padding-right: 10px;
  border-radius: 75px;
}
.column1 {
  float: left;
  width: 35.33%;
  padding: 0px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
  border-radius: 15px;
}

.column1.1 {
  margin: 3%;
  position: relative;
}
.txt {       
  position: absolute;
  top: 400px;
  left: 990px;  
}
  
.row::after {
  content: "";
  clear: both;
  display: table;
}